<h2>
    Purchase
</h2>

<section class="floatCenter">
    <app-cart-view
        *ngFor="let cartItem of cartItems"
        [cartItem] = "cartItem">
    </app-cart-view>
</section>


<br>

<p>
    You may now purchase your items
</p>

<br>

<p>
    //Total Cost Goes Here\\
</p>

<section>
    <button class="purchaseCart">Purchase Cart</button><br>
</section>


<p> 
    If you havent set your payment method select below: 
</p>

<section>
    <button class="purchaseCart">Payment Method</button>
</section>
