:host {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    padding: 10px;
}

section
{
    margin: auto;
    width: 50%;
}

button.purchaseCart {
    display: block;
    background-color: #37ad79;
    margin: auto;
    padding: 10px;
    font-size: .8em;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    float: center;
}