<div class = "container">
<form>
    <div class = "form-group">
    <h1 class  = "text-center text-primary">Search</h1>
      <div class = "input-group-prepend">
        <input type = "text" #searchTerm class = "form-control" placeholder = "Input Here" name = "userInput" ngModel>

        <button class = "searchbtn" (click) = "addSearch(searchTerm.value)">Add Search</button>

        <div class = "data">
            <ul class = "list-instyled">
                <li *ngFor = "let searchTerm of searchArray">{{searchTerm}}</li>
            </ul>
        </div>
      </div>
    </div>
  </form>
</div>