:host {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    padding: 10px;
}

app-product{
    font-family: Arial, Helvetica, sans-serif;
}

section.floatCenter{
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    float: none;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}