<!-- Defines the layout of the product cards on the products page -->

<a class="clickPane" (click)="onClick(storeItem.product.id)">
  <h2 class="productTitle">
    <b>{{ storeItem.product.name }}</b>
  </h2>

  <div class="imagePane">
    <img src="assets/img/thumbs/{{ storeItem.product.thumbnail }}" alt="Unable to locate image">
  </div>

  <div class="descriptionPane">
    {{ storeItem.product.cardDescr }}
  </div>
</a>

<a class="price">
  ${{ storeItem.product.price }}
</a>

<button class="addToCart" onClick="alert('Item added to cart!')">Add to Cart</button>
