<script type="text/typescript" href="./products.ts"></script>

<h2>
  {{ storeItem.name }}
</h2>

<div class="imagePane">
  <img src="assets/img/{{storeItem.img}}" alt="Unable to locate image">
</div>

<div class="descriptionPane">
  {{ storeItem.descr }}
</div>

<a class="price">
  ${{ storeItem.price }}
</a>

<button class="addToCart" onClick="">Add to Cart</button>

<p class="quantity">
    Number in cart: {{ storeItem.quantity }}
</p>

<button class="removeFromCart" onClick="">Remove from Cart</button>